
<html lang="ja" amp>
  <head>
    <meta charSet="utf-8"/>
    <title>Gmork.in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta itemProp="name" content="グモルク"/>
    <meta itemProp="image" content="http://gmork.in/static/image/og_image.png"/>
    <meta property="og:title" content="グモルク"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://gmork.in/"/>
    <meta property="og:image" content="http://gmork.in/static/image/og_image.png"/>
    <meta property="og:description" content="グモルク"/>
    <meta property="og:site_name" content="http://gmork.in/"/>
    <link rel="canonical" href="http://gmork.in/"/>
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <div id="app"><%- initialComponent %></div>
    <script>
        window.__INITIAL_STATE__ = <%- initialState %>;
    </script>
    <script src="/static/js/index.js"></script>
  </body>
</html>
