@import 'color';

.Sidebar {
    position   : fixed;
    left       : 0;
    top        : 0;
    height     : 100%;
    width      : 300px;
    background : $bg;

    img {
        width: 120px;
        height: 120px;
        margin: 40px 90px 20px;
    }
    &__Header {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        width: 100%;
        margin: 0px auto 30px;
    }

    ul {
        list-style: none;
        width: 100%;
        padding: 0;
    }
    li {
        width: 100%;
        a {
            display         : block;
            text-decoration : none;
            line-height     : 2em;
            width: 160px;
            margin: 10px auto;
            text-align: center;
        }
        .is-active {
            background: $text;
            color: $bg;
        }
    }
}
