* {
    color : #456789;
}

h2 {
  margin-top: 60px;
}
ul {
  padding-left: 20px;
}


.thumbnail {
  width: 480px;
}

.App {
    &__Content {
        margin-top: 40px;
        margin-left: 320px;
    }
}

@import 'sidebar';
